body {
    background-color: black;
    color: #96b38a;
    font-family: Inconsolata, monospace;
    font-size: 11pt;
}

.login_input label {
    width: 95px;
    padding-right: 5px;
    font: inherit;
}

.login_input input {
    width: 200px;
    height: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
}

.login_input {
    padding-bottom: 5px;
}

.sub input {
    background-color: transparent;
    color: #96b38a;
    border: none;
    padding: 0%;
    font: inherit;
}

.sub input:hover {
    background-color: #96b38a;
    color: black;
    border: none;
}

button {
    background-color: transparent;
    color: #96b38a;
    border: none;
    padding: 0%;
    font: inherit;
}

button:hover {
    background-color: #96b38a;
    color: black;
    border: none;
}